@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>CST Student Options Picker</h1>
    <p class="lead">Select your top four options for terms 3 and 4 of Computer Systems Technology.</p>
    <p><a href="http://www.bcit.ca/study/programs/5500dipma" class="btn btn-primary btn-lg">More Info &raquo;</a></p>
</div>